{{define "header"}}
<!--
 Design & Build: Matt Childs @mattec
-->
<!DOCTYPE html>
<html>
<head>
<title>TPS Reporting System</title>
<link rel="stylesheet" href="/assets/styles.css">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i|Source+Sans+Pro" rel="stylesheet">
</head>
<body>
<div id="container">
<header>
  <img id="logo" src="/assets/logo.png" />
<h1>TPS Reporting System</h1>
</header>
<nav>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/reports/">Reports</a></li>
</ul>
</nav>
<main>
{{end}}
